@import "../node_modules/ress/dist/ress.min.css";

/* public-sans-latin-wght-normal */
@font-face {
  font-family: "Public Sans Variable";
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/public-sans:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-family: Public Sans Variable, system-ui;
  font-size: 16px;
  /* cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.196396'  height='23.999937' viewBox='0 0 19.196396 23.999937' fill='none'%3E%3Cpath d='m 17.289555,12.591263 -0.0015,-0.0013 -0.0016,-0.0014 L 5.759437,2.370346 C 5.214821,1.872439 4.67901,1.471068 4.164547,1.215153 3.661648,0.964989 3.063331,0.797236 2.465876,0.961997 1.823272,1.139207 1.4205,1.630363 1.196844,2.18767 0.98076103,2.726114 0.89521003,3.400914 0.89521003,4.165489 v 15.470608 0.0065 l 9.5e-5,0.0065 c 0.01274,0.874886 0.51891797,1.820757 1.10537697,2.458043 0.30512,0.33165 0.68668,0.641604 1.124187,0.826544 0.447269,0.189048 1.005439,0.264562 1.558585,0.01496 0.45124,-0.203581 0.864281,-0.613905 1.199311,-0.972411 0.192481,-0.206004 0.418865,-0.463299 0.650767,-0.726912 0.176357,-0.200317 0.355821,-0.40432 0.526016,-0.59221 0.859299,-0.948293 1.823706,-1.878893 2.962732,-2.392744 1.142923,-0.515643 2.490586,-0.635285 3.770635,-0.659403 0.315536,-0.006 0.620013,-0.0062 0.914907,-0.0064 h 0.0014 0.0024 c 0.290786,-2.1e-4 0.576938,-4.21e-4 0.840025,-0.007 0.481203,-0.0119 1.05119,-0.04318 1.48658,-0.225277 1.04624,-0.437812 1.284366,-1.58421 1.261301,-2.362835 -0.02443,-0.826649 -0.335231,-1.808645 -1.01001,-2.412334 z' fill='rgba(255,255,255,0.6)' stroke='%23000000' stroke-width='1.79042'/%3E%3C/svg%3E") 0 0, auto; */
  /* cursor: url("/images/bibata-black.svg") 0 0, auto; */
}

* {
  cursor: inherit;
}

.cursor {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  /* transform: translate(0, 0);  */
  /* background-color: rgba(45, 227, 247, 0.5); */
}

#latency {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

#latency span {
  font-weight: 400;
  font-size: 1.2rem;
  /* font-style: italic; */
}
#color-picker {
  position: absolute;
  top: 10px;
  right: 100px;
  /* z-index: 0; */
}
body {
  background-color: wheat;
}

html,
body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}
header {
  padding: 0 20px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: start;
}

main {
  /* display: flex; */
  /* height: 100vh; */
  /* align-items: center; */
  /* justify-content: center;
  align-items: center; */
}
/* make it a certain width, and wrap if length is over that */
#cursorFloat {
  position: absolute;
  font-weight: 300;
  top: 50%;
  left: 100px;
  width: max-content;
  padding: 0.25rem;
  /* height: 3rem; */
  /* border-radius: 5px; */
  background-color: rgba(91, 250, 94, 0.6);
  /* box-shadow: 2px 2px black; */
}

#grid {
  position: absolute;
  top: calc(50% / 2 - 40px);
  left: calc(50% - 200px);
  border-top: 1px solid black;
  border-left: 1px solid black;
  height: 400px;
  width: 400px;
  box-shadow: 6px 6px black;
  display: grid;
  grid-template: repeat(20, 20px) / repeat(20, 20px);

  margin-top: 50px;
}
.grid-square {
  height: 20px;
  width: 20px;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.grid-square:hover {
  background-color: wheat;
  /* box-shadow: 4px -4px black; */
  /*  border-top: 1px solid black; */
  /*  border-left: 1px solid black; */
  /* border-bottom: 4px solid black; */
  /*  border-right: 4px solid black; */
}

.swatchGrid {
  display: grid;
  grid-template-columns: repeat(6, 20px);
  grid-template-rows: repeat(1, 20px);
  grid-gap: 6px;
  /* margin-bottom: 1em; */
}

.swatch {
  border-radius: 4px;
  /* cursor: pointer; */
}
.currentSwatch {
  box-shadow: 1px 1px black;
}

